.app {
  text-align: center;
  background-color: #f2f2f2;
  height: 100%;
  padding-bottom: 100px;
  .page{ 
      width: 1100px;
      margin: 0px auto;
      padding-top: 50px;
      padding-bottom: 100px;
  }
}

/* Plain CSS */
@media (max-width: 1120px)  { 
  .app {
    
    .page{ 
        width: 100%;  
        padding: 10px;
    }
    .app-header {
     
    }
  }
}

@media (max-width: 768px)  { 
        .app {
          
          .page{ 
              width: 100%; 
              padding:10px;
          }
          .app-header {
            width: 100%;  
            .app-logo {
              width: 150px; 
              margin:4px; 
               
            }
            .menu { 
              position: fixed;
              bottom:0px;
              background-color: #fff;
              width: 100%;
              left:0px;
              box-shadow: 1px 1px 10px 10px #00000011;
              height: 50px;
              justify-content: center;
              align-items: center;
              padding:0px;
              .menu-item{
                flex:1;
                height: 100%;
                justify-content: center;
                align-items: center;
                display: flex;
              }
              .menu-item.selected{ 
                background-color: #00CFE4;
                color: #000;
              }
            }
          }
        }
}




.app-logo { 
}
 

.app-header {
  background-color: #fff;
  
  font-size: 12pt;
  color: #000;
  position: relative;
}
 

.app-header { 
  display: flex; 
  flex-direction: row; 
  font-weight: bold;
  
  align-items: center;
  justify-content: center;
  user-select: none;

  .app-logo{
    width: 250px;
    cursor: pointer;
    margin:10px;
  } 

  .menu, .account{ 
    display: flex;
    .menu-item{
      padding: 10px;
      cursor: pointer;
    }

    .menu-item:hover{
      color: #555;
    }
    .menu-item.selected{ 
      color: #00CFE4;
      cursor: default;
    }
  } 
  .menu{
    flex:1;
    padding-left: 20px;
  }
}
